body {
 	height:100%; 
 	margin:0; 
 	padding:0%; 
 	color: white; 
 	background-repeat: no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

/* Below CSS for Home Page #HomePageCSS */

#logo {
	position:absolute;
	top:20%;
	left:35.5%;
	width: 30%;
}

#socialmedia {
	width:100%;
	height:100%;
	position:absolute;
	bottom:2%;
	right:2%;
}

#fb {
	position:absolute;
	bottom:3%;
	right:2%;
	width: 50px;
	height: 50px;
}

#yt {
	position:absolute;
	bottom:3%;
	right:6%;
	width: 50px;
	height: 50px;
}

#welcome_screen_div {
    width:100%;
    height:100%;
    background-image: url('Files/NeuronsFiring.gif');
    position:absolute;
    top:0;left:0;
    z-index:10;
  }

  #prevyrweb {
    position:absolute;
    bottom:5%;
    right:15%;
    font-size:1vw;
    background-color:#ecf0f1;
    border:2px solid white;
    border-radius:100px;
    padding-left:20px;
    padding-right:20px;
    padding-top:10px;
    padding-bottom:10px;
    cursor:pointer;
    color:#000000;
  }

    #prevyrweb:hover {
    background-color: #008CBA;
    color: white;
          transform:scale(1.3,1.3);
    -webkit-transform:scale(1.3,1.3);
    -moz-transform:scale(1.3,1.3);
}

#menubtn {
    position:absolute;
    bottom:30%;
    right:70%;
    font-size:1vw;
    background-color:#ecf0f1;
    border:2px solid white;
    border-radius:50px;
    padding-left:20px;
    padding-right:20px;
    padding-top:10px;
    padding-bottom:10px;
    cursor:pointer;
    color:#000000;
  }

  #menubtn:hover {
    background-color: #008CBA;
    color: white;
          transform:scale(1.3,1.3);
    -webkit-transform:scale(1.3,1.3);
    -moz-transform:scale(1.3,1.3);
}

#update {
    position:absolute;
    bottom:30%;
    right:55%;
    font-size:1vw;
    background-color:#ecf0f1;
    border:2px solid white;
    border-radius:50px;
    padding-left:20px;
    padding-right:20px;
    padding-top:10px;
    padding-bottom:10px;
    cursor:pointer;
    color:#000000;
  }
#update:hover {
    background-color: #008CBA;
    color: white;
      transform:scale(1.3,1.3);
    -webkit-transform:scale(1.3,1.3);
    -moz-transform:scale(1.3,1.3);
}

#blank1 {
    position:absolute;
    bottom:30%;
    right:40%;
    font-size:1vw;
    background-color:#ecf0f1;
    border:2px solid white;
    border-radius:50px;
    padding-left:20px;
    padding-right:20px;
    padding-top:10px;
    padding-bottom:10px;
    cursor:pointer;
    color:#000000;
  }
#blank1:hover {
    background-color: #008CBA;
    color: white;
          transform:scale(1.3,1.3);
    -webkit-transform:scale(1.3,1.3);
    -moz-transform:scale(1.3,1.3);
}
#blank2 {
    position:absolute;
    bottom:30%;
    right:25%;
    font-size:1vw;
    background-color:#ecf0f1;
    border:2px solid white;
    border-radius:50px;
    padding-left:20px;
    padding-right:20px;
    padding-top:10px;
    padding-bottom:10px;
    cursor:pointer;
    color:#000000;
  }
#blank2:hover {
    background-color: #008CBA;
    color: white;
          transform:scale(1.3,1.3);
    -webkit-transform:scale(1.3,1.3);
    -moz-transform:scale(1.3,1.3);
}

#tagline
{
  font-family: "Impact", Times, serif;
   
    width:100%;
    top:49%;
    position:absolute;
    text-align:center;
    padding-top: 25px;
    font-size:2vw;
    color:#ffffff;
}

/* Below CSS for Main Menu #MainMenuCSS */

#sym { 
	top:0;  
	left:0;  
	background:orange;
	text-align: center;  
}

#eve {
 	top:0;
 	left:20%;
 	background:blue;
 	text-align: center;
}

#spons { 
	top:0;   
	left:40%; 
	background:red; 
	text-align: center;
}

#cont { 
	top:0;
	left:60%; 
	background:purple; 
	text-align: center;   
}

#team {
	 top:0;   
	 left:80%;
	 background-image: url("Mainmenu-Backgrounds/webpagebackground1.png");
	 text-align: center;
}

.menu {
	display: none;
	font-size:2vw;
 	position:fixed; 
 	width:20%; 
 	height:100%; 
 	padding-top: 25%;  
 }

 .backtohomepage {
	display: none;
	cursor: pointer;
	position: absolute;
	left: 3%;
	top: 3%;
	z-index: 9999;
	height: 40px;
	width: 40px;
 }

 .firstletterinmenu {
 	font-size: 3vw;
 }

/*
 #showmenu {
 	left: 2%; 
 	top:2%; 
 	position: absolute;
 	cursor: pointer;
  }
*/

/* Below CSS for symposium page #SymPageCSS */

#symdescription {
	display: none;
	position: absolute;
	left:7%;
	right: 65%;
	top: 30%;
	font-size: 2vw;
}

#symimg {
	position: absolute;
	display: none;
	right: 5%;
	top: 30%;
	height: 45%;
	width: 38%;
	border: 1px solid black;
	border-radius: 20px;
}

#symregister {
	display: none;
	position: absolute;
	top: 10%;
	right: 7%;
	border: 2px solid black;
	border-radius: 40px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: black;
	font-size: 1.5vw;
}

#symregister:hover {
	color: orange;
	background-color: black;
}

#symbrochure {
	display: none;
	position: absolute;
	top: 10%;
	right: 18%;
	border: 2px solid black;
	border-radius: 40px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: black;
	font-size: 1.5vw;
}

#symbrochure:hover {
	color: orange;
	background-color: black;
}

#symcontact1 {
	display: none;
	position: absolute;
	font-size: 1.5vw;
	color: black;
	bottom:8%;
	right: 5%;
}

#symcontact2 {
	display: none;
	position: absolute;
	font-size: 1.5vw;
	color: black;
	bottom:13%;
	right: 5%;
}

#symemail {
	display: none;
	position: absolute;
	font-size: 1.5vw;
	color: black;
	bottom:2%;
	left: 65%;
}

#symemailicon {
	width: 8%;
	height: 8%;
}

#symcontact1icon {
	height: 8%;
	width: 8%;
}

#symcontact2icon {
	height: 8%;
	width: 8%;
}

/* Below CSS for events menu #EventsMenuCSS */

.backtomainmenufromeve {
	display: none;
	cursor: pointer;
	position: absolute;
	left: 3%;
	top: 3%;
	z-index: 9999;
	height: 40px;
	width: 40px;
 }

 .backtomainmenufromsym {
	display: none;
	cursor: pointer;
	position: absolute;
	left: 3%;
	top: 3%;
	z-index: 9999;
	height: 40px;
	width: 40px;
 }

 .backtomainmenufromspons {
	display: none;
	cursor: pointer;
	position: absolute;
	left: 3%;
	top: 3%;
	z-index: 9999;
	height: 40px;
	width: 40px;
 }

 .backtomainmenufromteam {
	display: none;
	cursor: pointer;
	position: absolute;
	left: 3%;
	top: 3%;
	z-index: 9999;
	height: 40px;
	width: 40px;
 }


.evemenu {
	display: none;
	position:fixed; 
	width:11.11%; 
	height:100%; 
	font-size: 1.6vw;   
	padding-top: 25%;
}

.firstletterinevents {
	font-size: 2.5vw;
}

#closebtn-evemenu {
	display: none;
	height: 40px;
	width: 40px;
	position: absolute;
	left:5%;
	top:5%;
}

#forensics { 
	top:0;   
	left:0;   
	background-image:url("Events-Backgrounds/Forensics.png"); 
	padding-left: 1%;
}

#streax { 
	top:0;
	left:11.11%; 
	background-image: url("Events-Backgrounds/Streax.png"); 
	padding-left: 2%;    
}

#paperandposter { 
	top:0;   
	left:22.22%;  
	background-image: url("Events-Backgrounds/Paper&poster.png"); 
	padding-left: 2.4%;   
}

#lectures { 
	top:0;   
	left:33.33%; 
	background-image: url("Events-Backgrounds/Lectures.png");  
	padding-left: 1.3%;     
}

#workshops { 
	top:0;   
	left:44.44%; 
	background-image: url("Events-Backgrounds/Workshop.png"); 
	padding-left: 0.1%;   
}

#idp { 
	top:0;   
	left:55.55%; 
	background-image: url("Events-Backgrounds/IDP.png");  
	padding-left: 0.8%;     
} 

#quiz { 
	top:0;   
	left:66.66%; 
	background-image: url("Events-Backgrounds/Quiz.png");  
	padding-left: 3%;     
}

#biobiz { 
	top:0;   
	left:77.77%; 
	background-image: url("Events-Backgrounds/Biobiz.png");  
	padding-left: 2.3%;     
}   

#gbc { 
	top:0;   
	left:88.88%; 
	background-image: url("Events-Backgrounds/Globalconference.png");  
	padding-left: 0.5%;     
}

.backtoevemenu {
	display: none;
	cursor: pointer;
	position: absolute;
	left: 3%;
	top: 3%;
	z-index: 9999;
	height: 40px;
	width: 40px;
}

/* Below CSS for ContactUs Page #ContactUsCSS */
.backtomainmenufromcont {
	display: none;
	cursor: pointer;
	position: absolute;
	left: 3%;
	top: 3%;
	z-index: 9999;
	height: 40px;
	width: 40px;
 }

 #contdescription{
	display: none;
	position: absolute;
	font-size: 1.5vw;
	right:50%;
	top:40%;
}

#contcontact1 {
	display: none;
	position: absolute;
	font-size: 1.5vw;
	right:45%;
	top: 45%;
}

#callcont1 {
	display: none;
	position: absolute;
	height: 25px;
	width: 25px;
	right: 42%;
	top: 45%;
}

#contcontact2 {
	display: none;
	position: absolute;
	font-size: 1.5vw;
	right:45%;
	top: 50%;
}

#callcont2 {
	display: none;
	position: absolute;
	height: 25px;
	width: 25px;
	right: 42%;
	top:50%;
}

#contcontact3 {
	display: none;
	position: absolute;
	font-size: 1.5vw;
	right:45%;
	top: 55%;
}

#callcont3 {
	display: none;
	position: absolute;
	height: 25px;
	width: 25px;
	right: 42%;
	top:55%;
}

#contphn1 {
	display: none;
	position: absolute;
	font-size: 1.5vw;
	height: 25px;
	width: 25px;
	right: 39%;
	top:45%;
}

#contphn2 {
	display: none;
	position: absolute;
	font-size: 1.5vw;
	height: 25px;
	width: 25px;
	right: 39%;
	top:50%;
}

#contphn3 {
	display: none;
	position: absolute;
	font-size: 1.5vw;
	height: 25px;
	width: 25px;
	right: 39%;
	top:55%;
}

#contemail {
	display: none;
	position: absolute;
	right: 48%;
	top: 62%;
	font-size: 1.5vw;
}

#contemailicon {
	display: none;
	position: absolute;
	height: 30px;
	width: 30px;
	right: 45%;
	top: 62%;
}

#contemailid {
	display: none;
	position: absolute;
	font-size: 1.5vw;
	top: 62%;
	right:26%;
}
/*
 .register {
	position: relative;
	top:20px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	border: 1px solid black;
	border-radius: 20px;
	width: 50%;
}

.registerlabel {
	position: relative;
	top: 20px;
	font-size: 1.3vw;
	margin-right: 20px;
}

#submitbtn {
	position: relative;
	left: 16%;
	width: 20%;
	text-align: center;	
}

#submitbtn:hover {
	background-color: black;
	color:green;
	cursor: pointer;
}

#contactus {
	position: absolute;
	bottom: 10%;
	font-size: 1.3vw;
}

#faq {
	position: absolute;
	bottom: 5%;
	font-size: 1.3vw;
} */ 
	
/* Below CSS for the team page #TheTeamCSS */

#team_events {
	display: none;
	position: absolute;
	bottom: 55%;
	right: 67%;
	/*display:block;*/
	width:150px;
    height:150px;
    line-height:150px;
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    color:#f5f5f5;
    text-align:center;
    background: #464646;
    box-shadow: 0 0 3px gray;
    font-size:15px;
    font-weight:bold;
}

#team_events:hover {
    background: #262626;
}

#team_sponsorship {
	display: none;
	position: absolute;
	bottom: 75%;
	right: 55%;
	/*display:block;*/
	width:150px;
    height:150px;
    line-height:150px;
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    color:#f5f5f5;
    text-align:center;
    background: #464646;
    box-shadow: 0 0 3px gray;
    font-size:15px;
    font-weight:bold;
}

#team_sponsorship:hover {
    background: #262626;
}

#team_qmservices {
	display: none;
	position: absolute;
	bottom: 75%;
	right: 35%;
	/*display:block;*/
	width:150px;
    height:150px;
    line-height:150px;
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    color:#f5f5f5;
    text-align:center;
    background: #464646;
    box-shadow: 0 0 3px gray;
    font-size:20px;
    font-weight:bold;
}

#team_qmservices:hover {
    background: #262626;
}

#team_mnsrelations {
	display: none;
	position: absolute;
	bottom: 55%;
	right: 23%;
	/*display:block;*/
	width:150px;
    height:150px;
    line-height:150px;
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    color:#f5f5f5;
    text-align:center;
    background: #464646;
    box-shadow: 0 0 3px gray;
    font-size:20px;
    font-weight:bold;
}

#team_mnsrelations:hover {
    background: #262626;
}

#team_financeteam {
	display: none;
	position: absolute;
	bottom: 25%;
	right: 67%;
	/*display:block;*/
	width:150px;
    height:150px;
    line-height:150px;
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    color:#f5f5f5;
    text-align:center;
    background: #464646;
    box-shadow: 0 0 3px gray;
    font-size:15px;
    font-weight:bold;
}

#team_financeteam:hover {
    background: #262626;
}

#team_designmedia {
	display: none;
	position: absolute;
	bottom: 5%;
	right: 35%;
	/*display:block;*/
	width:150px;
    height:150px;
    line-height:150px;
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    color:#f5f5f5;
    text-align:center;
    background: #464646;
    box-shadow: 0 0 3px gray;
    font-size:10px;
    font-weight:bold;
}

#team_designmedia:hover {
    background: #262626;
}

#team_freq {
	display: none;
	position: absolute;
	bottom: 5%;
	right: 55%;
	/*display:block;*/
	width:150px;
    height:150px;
    line-height:150px;
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    color:#f5f5f5;
    text-align:center;
    background: #464646;
    box-shadow: 0 0 3px gray;
    font-size:20px;
    font-weight:bold;
}

#team_freq:hover {
    background: #262626;
}

#team_webops {
	display: none;
	position: absolute;
	bottom: 25%;
	right: 23%;
	/*display:block;*/
	width:150px;
    height:150px;
    line-height:150px;
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    color:#f5f5f5;
    text-align:center;
    background: #464646;
    box-shadow: 0 0 3px gray;
    font-size:15px;
    font-weight:bold;
}

#team_webops:hover {
    background: #262626;
}

#team_fontdetailsposition {
	display: none;
	position: relative;
	left: 20%;
	bottom:10%;
	font-size: 1.5vw;
}

#team_fontdetailsname {
	display: none;
	position: relative;
	font-size: 1vw;
}

#team_studentheadphoto {
	display: none;
	position: absolute;
	bottom: 43%;
	right: 43%;
	border: 1px solid #ffffff;
    border-radius: 250px;
    padding: 5px;
    height: 200px;
    width: 200px;
}

#team_studenthead {
	display: none;
	position: absolute;
	bottom: 43%;
	right: 45%;
	/*display:block;*/
	width:150px;
    height:150px;
    line-height:150px;
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    color:#f5f5f5;
    text-align:center;
    background: #464646;
    box-shadow: 0 0 3px gray;
    font-size:15px;
    font-weight:bold;
}


.team_studentheadphoto {
	display: none;
	position:absolute;
	bottom:33%;
	right:40%;
	padding-bottom: 10px;padding-top: 5px;padding-right: 80px;padding-left: 20px;
	border : 2px solid white;
	border-radius: 60px;
}

#team_webops_page {
	display: none;
}

#team_webops_fontdetailsposition {
	display: none;
	position: relative;
	left: 20%;
	bottom:10%;
	font-size: 1.5vw;
}

#team_webops_fontdetailsname {
	display: none;
	position: relative;
	font-size: 1vw;
}

#team_webops_titlefont {
	display: none;
	position: relative;
	font-size: 3vw;
}

.team_webops_title {
	display: none;
	position: absolute;
	bottom: 70%;
	right: 65%;
}

.team_webops_core {
	display: none;
	position:absolute;
	bottom:53%;
	right:18%;
	padding-bottom: 10px;padding-top: 5px;padding-right: 80px;padding-left: 10px;
	border : 2px solid black;
	border-radius: 60px;
}

.team_webops_supercoord {
	display: none;
	position:absolute;
	bottom:38%;
	right:15%;
	padding-bottom: 10px;padding-top: 5px;padding-right: 80px;padding-left: 5px;
	border : 2px solid black;
	border-radius: 60px;
}

.team_webops_coord {
	display: none;
	position:absolute;
	bottom:8%;
	right:17%;
	padding-bottom: 10px;padding-top: 5px;padding-right: 80px;padding-left: 5px;
	border : 2px solid black;
	border-radius: 60px;
}

#team_webops_kaushik {
	display: none;
	position: absolute;
	bottom: 65%;
	right: 20%;
	border: 1px solid #ddd;
    border-radius: 250px;
    padding: 5px;
    height: 200px;
    width: 200px;
}


/* Below CSS for Forensics Page #ForensicsCSS */

	#forensicsregistration {
		display: none;
		position:absolute;
		bottom:80%;
		right:10%;
		padding-bottom: 10px;padding-top: 10px;padding-right: 20px;padding-left: 20px;
		border : 2px solid black;
		border-radius: 60px;
		color:black;
		font-size: 1.5vw;
	}

	#forensicsregistration:hover {
		background-color: black;
		color: orange;
	}

	#forensicsrules {
		display:none;
		position:absolute;
		bottom:80%;
		right:20%;
		padding-bottom: 10px;padding-top: 10px;padding-right: 20px;padding-left: 20px;
		border : 2px solid black;
		border-radius: 60px;
		color: black;
		font-size: 1.5vw;
	}

	#forensicsrules:hover {
		background-color: black;
		color: orange;
	}

	#forensicsarchive {
		display: none;
		position:absolute;
		bottom:30%;
		right:10%;
		padding-bottom: 130px;padding-top: 130px; padding-left: 10px; padding-right: 10px;
		border : 2px solid black;
		border-radius: 60px;
		font-size: 1.5vw;
		color: black;
	}

	#forensicsdescription {
		display: none;
		position: absolute;
		top:15%;
		left:5%;
		right:55%;
		bottom: 20%;
		padding-top: 40px; padding-bottom: 40px;padding-left: 60px; padding-right: 60px;
		border-radius:50px;
		color: black;
		font-size: 1.8vw;
		text-align: left;
	}

	#forensicscontact {
		display: none;
		position:absolute;
		right:150px;
		bottom:75px;
		font-family: impact;
		font-size: 1.5vw;
		color: #000000;	
	}

	#forensicscall {
		display: none;
		position: absolute;
		bottom:10px;
		right: 100px;
		height: 30px;
		width: 30px;
	}

	#forensicsemail {
		display: none;
		position: absolute;
		bottom: 10px;
		right: 320px;
		height: 30px;
		width: 30px;
	}

	#forensicsphn {
		display: none;
		position:absolute;
		bottom:15px;
		right: -3px;
		font-family: impact;
	}

	#forensicsemailid {
		display: none;
		position: absolute;
		bottom: 15px;
		right: 150px;
	}

/* Below CSS for Streax Page #StreaxCSS */
	#streaxregistration {
		display: none;
		position:absolute;
		bottom:80%;
		right:10%;
		padding-bottom: 10px;padding-top: 10px;padding-right: 20px;padding-left: 20px;
		border : 2px solid black;
		border-radius: 60px;
		color:black;
		font-size: 1.5vw;
	}

	#streaxregistration:hover {
		background-color: black;
		color: blue;
	}

	#streaxrules {
		display: none;
		position:absolute;
		bottom:80%;
		right:20%;
		padding-bottom: 10px;padding-top: 10px;padding-right: 20px;padding-left: 20px;
		border : 2px solid black;
		border-radius: 60px;
		color: black;
		font-size: 1.5vw;
	}

	#streaxrules:hover {
		background-color: black;
		color:blue;
	}

	#streaxarchive {
		display: none;
		position:absolute;
		bottom:30%;
		right:10%;
		padding-bottom: 130px;padding-top: 130px; padding-left: 10px; padding-right: 10px;
		border : 2px solid black;
		border-radius: 60px;
		font-size: 1.5vw;
		color: black;
	}

	#streaxdescription {
		display: none;
		position: absolute;
		top:25%;
		left:5%;
		right:55%;
		bottom: 20%;
		padding-top: 40px; padding-bottom: 40px;padding-left: 60px; padding-right: 60px;
		border-radius:50px;
		color: black;
		font-size: 2.5vw;
		text-align: center;
	}

	#streaxcontact {
		display: none;
		position:absolute;
		right:150px;
		bottom:75px;
		font-family: impact;
		font-size: 1.5vw;
		color: #000000;	
	}

	#streaxcall {
		display: none;
		position: absolute;
		bottom:10px;
		right: 100px;
		height: 30px;
		width: 30px;
	}

	#streaxemail {
		display: none;
		position: absolute;
		bottom: 10px;
		right:300px;
		height: 30px;
		width: 30px;
	}

	#streaxphn {
		display: none;
		position:absolute;
		bottom:15px;
		right: -3px;
		font-family: impact;
	}

	#streaxemailid {
		display: none;
		position: absolute;
		bottom: 15px;
		right: 150px;
	}

	/* Below CSS for Paper and Poster Page #PaperAndPosterCSS */

	#paperandposterregistration {
		display: none;
		position:absolute;
		bottom:80%;
		right:10%;
		padding-bottom: 10px;padding-top: 10px;padding-right: 20px;padding-left: 20px;
		border : 2px solid black;
		border-radius: 60px;
		color:black;
		font-size: 1.5vw;
	}

	#paperandposterregistration:hover {
		background-color: black;
		color: green;
	}

	#paperandposterrules {
		display: none;
		position:absolute;
		bottom:80%;
		right:20%;
		padding-bottom: 10px;padding-top: 10px;padding-right: 20px;padding-left: 20px;
		border : 2px solid black;
		border-radius: 60px;
		color: black;
		font-size: 1.5vw;
	}

	#paperandposterrules:hover {
		background-color: black;
		color:green;
	}

	#paperandposterarchive {
		display: none;
		position:absolute;
		bottom:30%;
		right:10%;
		padding-bottom: 130px;padding-top: 130px; padding-left: 10px; padding-right: 10px;
		border : 2px solid black;
		border-radius: 60px;
		font-size: 1.5vw;
		color: black;
	}

	#paperandposterdescription {
		display: none;
		position: absolute;
		top:25%;
		left:5%;
		right:55%;
		bottom: 20%;
		padding-top: 40px; padding-bottom: 40px;padding-left: 60px; padding-right: 60px;
		border-radius:50px;
		color: black;
		font-size: 2.5vw;
		text-align: left;
	}

	#paperandpostercontact {
		display: none;
		position:absolute;
		right:150px;
		bottom:75px;
		font-family: impact;
		font-size: 1.5vw;
		color: #000000;	
	}

	#paperandpostercall {
		display: none;
		position: absolute;
		bottom:10px;
		right: 100px;
		height: 30px;
		width: 30px;
	}

	#paperandposteremail {
		display: none;
		position: absolute;
		bottom: 10px;
		right:345px;
		height: 30px;
		width: 30px;
	}

	#paperandposterphn {
		display: none;
		position:absolute;
		bottom:15px;
		right: -3px;
		font-family: impact;
	}

	#paperandposteremailid {
		display: none;
		position: absolute;
		bottom: 15px;
		right: 150px;
	}

	/* Below CSS for Lectures Page #LecturesCSS */

	#lecturesregistration {
		display: none;
		position:absolute;
		bottom:80%;
		right:10%;
		padding-bottom: 10px;padding-top: 10px;padding-right: 20px;padding-left: 20px;
		border : 2px solid black;
		border-radius: 60px;
		color:black;
		font-size: 1.5vw;
	}

	#lecturesregistration:hover {
		background-color: black;
		color: red;
	}

	#lecturesrules{
		display: none;
		position:absolute;
		bottom:80%;
		right:20%;
		padding-bottom: 10px;padding-top: 10px;padding-right: 20px;padding-left: 20px;
		border : 2px solid black;
		border-radius: 60px;
		color: black;
		font-size: 1.5vw;
	}

	#lecturesrules:hover {
		background-color: black;
		color:red;
	}

	#lecturesarchive {
		display: none;
		position:absolute;
		bottom:30%;
		right:10%;
		padding-bottom: 130px;padding-top: 130px; padding-left: 10px; padding-right: 10px;
		border : 2px solid black;
		border-radius: 60px;
		font-size: 1.5vw;
		color: black;
	}

	#lecturesdescription {
		display: none;
		position: absolute;
		top:25%;
		left:2%;
		right:45%;
		bottom: 20%;
		padding-top: 40px; padding-bottom: 40px;padding-left: 60px; padding-right: 60px;
		border-radius:50px;
		color: black;
		font-size: 2.5vw;
		text-align: left;
	}

	#lecturescontact {
		display: none;
		position:absolute;
		right:150px;
		bottom:75px;
		font-family: impact;
		font-size: 1.5vw;
		color: #000000;	
	}

	#lecturescall {
		display: none;
		position: absolute;
		bottom:10px;
		right: 100px;
		height: 30px;
		width: 30px;
	}

	#lecturesemail {
		display: none;
		position: absolute;
		bottom: 10px;
		right:315px;
		height: 30px;
		width: 30px;
	}

	#lecturesphn {
		display: none;
		position:absolute;
		bottom:15px;
		right: -3px;
		font-family: impact;
	}

	#lecturesemailid {
		display: none;
		position: absolute;
		bottom: 15px;
		right: 150px;
	}

	/* Below CSS for Workshops Page #WorkshopsCSS */

	#workshopsregistration {
		display: none;
		position:absolute;
		bottom:80%;
		right:10%;
		padding-bottom: 10px;padding-top: 10px;padding-right: 20px;padding-left: 20px;
		border : 2px solid black;
		border-radius: 60px;
		color:black;
		font-size: 1.5vw;
	}

	#workshopsregistration:hover {
		background-color: black;
		color: purple;
	}

	#workshopsrules {
		display: none;
		position:absolute;
		bottom:80%;
		right:20%;
		padding-bottom: 10px;padding-top: 10px;padding-right: 20px;padding-left: 20px;
		border : 2px solid black;
		border-radius: 60px;
		color: black;
		font-size: 1.5vw;
	}

	#workshopsrules:hover {
		background-color: black;
		color: purple;
	}

	#workshopsarchive {
		display: none;
		position:absolute;
		bottom:30%;
		right:10%;
		padding-bottom: 130px;padding-top: 130px; padding-left: 10px; padding-right: 10px;
		border : 2px solid black;
		border-radius: 60px;
		font-size: 1.5vw;
		color: black;
	}

	#workshopsdescription {
		display: none;
		position: absolute;
		top:25%;
		left:2%;
		right:45%;
		bottom: 20%;
		padding-top: 40px; padding-bottom: 40px;padding-left: 60px; padding-right: 60px;
		border-radius:50px;
		color: black;
		font-size: 2.5vw;
	}

	#workshopscontact {
		display: none;
		position:absolute;
		right:150px;
		bottom:75px;
		font-family: impact;
		font-size: 1.5vw;
		color: #000000;	
	}

	#workshopscall {
		display: none;
		position: absolute;
		bottom:10px;
		right: 100px;
		height: 30px;
		width: 30px;
	}

	#workshopsemail {
		display: none;
		position: absolute;
		bottom: 10px;
		right:330px;
		height: 30px;
		width: 30px;
	}

	#workshopsphn {
		display: none;
		position:absolute;
		bottom:15px;
		right: -3px;
		font-family: impact;
	}

	#workshopsemailid {
		display: none;
		position: absolute;
		bottom: 15px;
		right: 150px;
	}

	/* Below CSS for IDP #IDPCSS */

	#idpregistration {
		display: none;
		position:absolute;
		bottom:80%;
		right:10%;
		padding-bottom: 10px;padding-top: 10px;padding-right: 20px;padding-left: 20px;
		border : 2px solid black;
		border-radius: 60px;
		color:black;
		font-size: 1.5vw;
	}

	#idpregistration:hover {
		background-color: black;
		color: grey;
	}

	#idprules{
		display: none;
		position:absolute;
		bottom:80%;
		right:20%;
		padding-bottom: 10px;padding-top: 10px;padding-right: 20px;padding-left: 20px;
		border : 2px solid black;
		border-radius: 60px;
		color: black;
		font-size: 1.5vw;
	}

	#idprules:hover {
		background-color: black;
		color: grey;
	}

	#idparchive {
		display: none;
		position:absolute;
		bottom:30%;
		right:10%;
		padding-bottom: 130px;padding-top: 130px; padding-left: 10px; padding-right: 10px;
		border : 2px solid black;
		border-radius: 60px;
		font-size: 1.5vw;
		color: black;
	}

	#idpdescription {
		display: none;
		position: absolute;
		top:25%;
		left:2%;
		right:45%;
		bottom: 20%;
		padding-top: 40px; padding-bottom: 40px;padding-left: 60px; padding-right: 60px;
		border-radius:50px;
		color: black;
		font-size: 2.5vw;
	}

	#idpcontact {
		display: none;
		position:absolute;
		right:150px;
		bottom:75px;
		font-family: impact;
		font-size: 1.5vw;
		color: #000000;	
	}

	#idpcall {
		display: none;
		position: absolute;
		bottom:10px;
		right: 100px;
		height: 30px;
		width: 30px;
	}

	#idpemail {
		display: none;
		position: absolute;
		bottom: 10px;
		right:280px;
		height: 30px;
		width: 30px;
	}

	#idpphn {
		display: none;
		position:absolute;
		bottom:15px;
		right: -3px;
		font-family: impact;
	}

	#idpemailid {
		display: none;
		position: absolute;
		bottom: 15px;
		right: 150px;
	}

	/* Below CSS for Quiz Page #QuizCSS */

	#quizregistration {
		display: none;
		position:absolute;
		bottom:80%;
		right:10%;
		padding-bottom: 10px;padding-top: 10px;padding-right: 20px;padding-left: 20px;
		border : 2px solid black;
		border-radius: 60px;
		color:black;
		font-size: 1.5vw;
	}

	#quizregistration:hover {
		background-color: black;
		color: brown;
	}

	#quizrules{
		display: none;
		position:absolute;
		bottom:80%;
		right:20%;
		padding-bottom: 10px;padding-top: 10px;padding-right: 20px;padding-left: 20px;
		border : 2px solid black;
		border-radius: 60px;
		color: black;
		font-size: 1.5vw;
	}

	#quizrules:hover {
		background-color: black;
		color: brown;
	}

	#quizarchive {
		display: none;
		position:absolute;
		bottom:30%;
		right:10%;
		padding-bottom: 130px;padding-top: 130px; padding-left: 10px; padding-right: 10px;
		border : 2px solid black;
		border-radius: 60px;
		font-size: 1.5vw;
		color: black;
	}

	#quizdescription {
		display: none;
		position: absolute;
		top:25%;
		left:2%;
		right:45%;
		bottom: 20%;
		padding-top: 40px; padding-bottom: 40px;padding-left: 60px; padding-right: 60px;
		border-radius:50px;
		color: black;
		font-size: 2.5vw;
	}

	#quizcontact {
		display: none;
		position:absolute;
		right:150px;
		bottom:75px;
		font-family: impact;
		font-size: 1.5vw;
		color: #000000;	
	}

	#quizcall {
		display: none;
		position: absolute;
		bottom:10px;
		right: 100px;
		height: 30px;
		width: 30px;
	}

	#quizemail {
		display: none;
		position: absolute;
		bottom: 10px;
		right:290px;
		height: 30px;
		width: 30px;
	}

	#quizphn {
		display: none;
		position:absolute;
		bottom:15px;
		right: -3px;
		font-family: impact;
	}

	#quizemailid {
		display: none;
		position: absolute;
		bottom: 15px;
		right: 150px;
	}

	/* Below CSS for BioBiz Page #BioBizCSS */

	#biobizregistration {
		display: none;
		position:absolute;
		bottom:80%;
		right:10%;
		padding-bottom: 10px;padding-top: 10px;padding-right: 20px;padding-left: 20px;
		border : 2px solid black;
		border-radius: 60px;
		color:black;
		font-size: 1.5vw;
	}

	#biobizregistration:hover {
		background-color: black;
		color: yellow;
	}

	#biobizrules{
		display: none;
		position:absolute;
		bottom:80%;
		right:20%;
		padding-bottom: 10px;padding-top: 10px;padding-right: 20px;padding-left: 20px;
		border : 2px solid black;
		border-radius: 60px;
		color: black;
		font-size: 1.5vw;
	}

	#biobizrules:hover {
		background-color: black;
		color: yellow;
	}

	#biobizarchive {
		display: none;
		position:absolute;
		bottom:30%;
		right:10%;
		padding-bottom: 130px;padding-top: 130px; padding-left: 10px; padding-right: 10px;
		border : 2px solid black;
		border-radius: 60px;
		font-size: 1.5vw;
		color: black;
	}

	#biobizdescription {
		display: none;
		position: absolute;
		top:25%;
		left:2%;
		right:45%;
		bottom: 20%;
		padding-top: 40px; padding-bottom: 40px;padding-left: 60px; padding-right: 60px;
		border-radius:50px;
		color: black;
		font-size: 2.5vw;
	}

	#biobizcontact {
		display: none;
		position:absolute;
		right:150px;
		bottom:75px;
		font-family: impact;
		font-size: 1.5vw;
		color: #000000;	
	}

	#biobizcall {
		display: none;
		position: absolute;
		bottom:10px;
		right: 100px;
		height: 30px;
		width: 30px;
	}

	#biobizemail {
		display: none;
		position: absolute;
		bottom: 10px;
		right:300px;
		height: 30px;
		width: 30px;
	}

	#biobizphn {
		display: none;
		position:absolute;
		bottom:15px;
		right: -3px;
		font-family: impact;
	}

	#biobizemailid {
		display: none;
		position: absolute;
		bottom: 15px;
		right: 150px;
	}

	/* Below CSS for GBC page #GBCCSS */

	#gbcregistration {
		display: none;
		position:absolute;
		bottom:80%;
		right:10%;
		padding-bottom: 10px;padding-top: 10px;padding-right: 20px;padding-left: 20px;
		border : 2px solid black;
		border-radius: 60px;
		color:black;
		font-size: 1.5vw;
	}

	#gbcregistration:hover {
		background-color: black;
		color: pink;
	}

	#gbcrules{
		display: none;
		position:absolute;
		bottom:80%;
		right:20%;
		padding-bottom: 10px;padding-top: 10px;padding-right: 20px;padding-left: 20px;
		border : 2px solid black;
		border-radius: 60px;
		color: black;
		font-size: 1.5vw;
	}

	#gbcrules:hover {
		background-color: black;
		color: pink;
	}

	#gbcarchive {
		display: none;
		position:absolute;
		bottom:30%;
		right:10%;
		padding-bottom: 130px;padding-top: 130px; padding-left: 10px; padding-right: 10px;
		border : 2px solid black;
		border-radius: 60px;
		font-size: 1.5vw;
		color: black;
	}

	#gbcdescription {
		display: none;
		position: absolute;
		top:25%;
		left:2%;
		right:45%;
		bottom: 20%;
		padding-top: 40px; padding-bottom: 40px;padding-left: 60px; padding-right: 60px;
		border-radius:50px;
		color: black;
		font-size: 2.5vw;
		text-align: left;
	}

	#gbccontact {
		display: none;
		position:absolute;
		right:150px;
		bottom:75px;
		font-family: impact;
		font-size: 1.5vw;
		color: #000000;	
	}

	#gbccall {
		display: none;
		position: absolute;
		bottom:10px;
		right: 100px;
		height: 30px;
		width: 30px;
	}

	#gbcemail {
		display: none;
		position: absolute;
		bottom: 10px;
		right:380px;
		height: 30px;
		width: 30px;
	}

	#gbcphn {
		display: none;
		position:absolute;
		bottom:15px;
		right: -3px;
		font-family: impact;
	}

	#gbcemailid {
		display: none;
		position: absolute;
		bottom: 15px;
		right: 150px;
	}

	/* Below CSS for ContactUs Page #ContactUsCSS */